body {
    font-family: "Lato", sans-serif;
}


.backColor{
    background-color:rgb(1, 1, 31);
  }
.colorText{
    color: rgb(226, 157, 226);
}
.main-head{
    height: 150px;
    background: #FFF;
   
}

.marleft{
    text-align: center;
    }
.cardStyle {
    width: 150%;
}
