
<div class="sidenav">
    <div class="login-main-text">
       <h2 class=" font-weight-bold  colorStype text-dark">Magic Shopping<br> Bienvenue sur votre site de vente</h2>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
            <img src='../../../assets/img/imageedit_4_4564710042.png'  style="width:250px;height:60px;margin-left: 60px;"/> 
             <br><br>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User Name">
             </div>
             <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <br><br>
             <button type="submit" class="btn btn-black p-3 d-inline  " style="width:45%;">Se connecter</button>
             <button type="submit" class="btn btn-warning p-3 d-inline " style="width:45%;">Register</button>
          </form>
       </div>
    </div>
 </div>