
  <header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">


                <h1 class=" font-weight-bold  colorStype">Magic Shopping</h1>
                <h3 class="text-uppercase  font-weight-bold  text-dark styleH1">Vendez sur Magic Shopping <i class="fa fa-shopping-cart" aria-hidden="true"></i> </h3>
               
                <hr class="divider my-4 stylehr" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-75 font-weight-light mb-5 stylemar">Livraison Express Gratuite pour les commandes supérieures à DH1,299.00</p>
                <a class="btn  btn-xl js-scroll-trigger stylebut" href="#">En savoir plus</a>
            </div>
        </div>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#"><img src='../../../assets/img/imageedit_4_4564710042.png'  style="width:250px;height:60px;margin-left: -30px;"/> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger"  routerLink="/login"  >Connéxion</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger"  >S'inscrire</a></li>
            </ul>
        </div>
    </div>
</nav>
