<div class="topnav" id="myTopnav">
    <div class="container">
      
        <a class="nav-link js-scroll-trigger " href="#about"><i class="fa fa-home"
                aria-hidden="true"></i>Accueil</a>
        <a class="nav-link js-scroll-trigger " href="#">Services</a>
        <a class="nav-link js-scroll-trigger" routerLink="/login">Connéxion</a>
        <a class="nav-link js-scroll-trigger"   routerLink="/registration">S'inscrire</a>
        <a class="nav-link js-scroll-trigger">Contact nous</a>
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    