<div class="main-content position" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">supervised_user_circle</i>
                        </div>
                        <p class="card-category">Le nombre des clients</p>
                        
                        <h3 class="card-title">{{nbClient}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">supervisor_account</i>Nombre des clients {{nbClient}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Argent commandes</p>
                        <h3 class="card-title">{{totalePrixCommande}}DH</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_shopping_cart</i> Le nombre du commandes {{nbCommande}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <p class="card-category">Nombre fournissseurs</p>
                        <h3 class="card-title">{{nbFournisseur}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">account_circle</i> Le nombre des fournisseurs {{nbFournisseur}}
                        </div>
                    </div>
                </div>
            </div>
   
        </div>

    </div>
    <div id="chartContainer" style="height: 370px; width: 90%;margin-left: -6%;"></div>

</div>
